{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block content %}
<div class="text">
        <h1>Alexis Podevin</h1>
        <p>Étudiant en développement Web à MyDigitalSchool de Lille</p>
</div>

{% endblock %}
